@using DiplomMetod.Models
@model List<UserRoleViewModel>

<h2>Управление пользователями</h2>
<table class="table">
    <thead>
        <tr>
            <th>Email</th>
            <th>Имя</th>
            <th>Фамилия</th>
            <th>Роли</th>
            <th>Действия</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.Email</td>
                <td>@user.FirstName</td>
                <td>@user.LastName</td>
                <td>@string.Join(", ", user.Roles)</td>
                <td>
                    <a asp-action="ManageRoles" asp-route-userId="@user.Id" class="btn btn-primary">Роли</a>
                    <form asp-action="ToggleBlock" asp-route-userId="@user.Id" method="post" style="display:inline;">
                        <button type="submit" class="btn btn-warning">
                            @(user.LockoutEnd > DateTime.Now ? "Разблокировать" : "Заблокировать")
                        </button>
                    </form>
                    <a asp-action="EditProfile" asp-controller="Account" asp-route-userId="@user.Id" asp-route-returnUrl="@Context.Request.Path" class="btn  btn-primary">
                        <i class="fas fa-edit"></i> Редактировать
                    </a>
                    <a asp-action="ResetPassword" asp-controller="Account" asp-route-userId="@user.Id" asp-route-returnUrl="@Context.Request.Path" class="btn  btn-warning">
                        <i class="fas fa-key"></i> Сбросить пароль
                    </a>
                    <form asp-action="Delete" asp-route-userId="@user.Id" method="post" style="display:inline;">
                        <button type="submit" class="btn btn-danger">Удалить</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
<a asp-action="Create" class="btn btn-success">Добавить пользователя</a>