@using DiplomMetod.Models
@model ManageRolesViewModel

<h2>Управление ролями для @Model.Email</h2>
<form asp-action="ManageRoles" method="post">
    <input type="hidden" asp-for="UserId" />
    <input type="hidden" asp-for="Email" />
    <table class="table">
        <thead>
            <tr>
                <th>Роль</th>
                <th>Выбрать</th>
            </tr>
        </thead>
        <tbody>
            @for (var i = 0; i < Model.UserRoles.Count; i++)
            {
                <tr>
                    <td>
                        @Model.UserRoles[i].RoleName
                        <input type="hidden" asp-for="@Model.UserRoles[i].RoleId" />
                        <input type="hidden" asp-for="@Model.UserRoles[i].RoleName" />
                    </td>
                    <td>
                        <input type="checkbox" asp-for="@Model.UserRoles[i].IsSelected" />
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <button type="submit" class="btn btn-primary">Сохранить</button>
</form>