@using DiplomMetod.Data.Entites
@model IEnumerable<Form>

 
@{
    ViewData["Title"] = "Методические рекомендации";
}

<h1 class="mb-4">Методические рекомендации</h1>

<div class="d-flex justify-content-between mb-3">
    <!--Левая группа из 2 кнопок. Использовал класс Bootstrap flex. #FIXME: нужно правильный контроллеры проставить-->
    <div class="d-flex">
        <button type="submit" class="btn btn-secondary me-2">Поиск</button>
        <a asp-action="Index" class="btn btn-secondary">Сбросить</a>
    </div>

    <!-- Правая группа из 2 кнопок. Отступ справа, за счет between-->
    <div class="d-flex">
        <a asp-action="Create" class="btn btn-dark me-2">Создать новую</a>
        <a asp-controller="Home" asp-action="Index" class="btn btn-secondary">На главную</a>
    </div>
</div>

<!-- Реализация формы для поиска/фильтрации-->
<!--#FIXME: нужно правильный контроллеры проставить. Посмотри пожалуйста, не совсем уверен в контроллерах и те ли я атрибуты прописал в Input и Query -->
<form asp-action="Index" asp-controller="FormController" method="get" class="row g-3 mb-4">
    <div class="col-md-2">
        <input name="InventoryNumber" class="form-control" placeholder="Инвентарный №" value="@Context.Request.Query["InventoryNumber"]" />
    </div>

    <!--#FIXME: тут я беру Name, подразумевая FormType.Name, раньше брал только из одного места, теперь озадачен поймет ли тут все прога -->
    <div class="col-md-2">
        <input name="NameFormType" class="form-control" placeholder="Название формы" value="@Context.Request.Query["NameFormType"]" />
    </div>

    <div class="col-md-2">
        <input name="RequisiteNumber" class="form-control" placeholder="Реквизит" value="@Context.Request.Query["RequisiteNumber"]" />
    </div>

    <div class="col-md-2">
        <input name="Code" class="form-control" placeholder="Код" value="@Context.Request.Query["Code"]" />
    </div>
    <!--#FIXME: тут я беру Name, подразумевая ReferenceBook.Name, раньше брал только из одного места, теперь озадачен поймет ли тут все прога -->
    <div class="col-md-2">
        <input name="ReferenceBookName" class="form-control" placeholder="Справочник" value="@Context.Request.Query["ReferenceBookName"]" />
    </div>
    <!--#FIXME: тут я беру Name, подразумевая KeyWord.Name, раньше брал только из одного места, теперь озадачен поймет ли тут все прога -->
    <div class="col-md-2">
        <input name="KeyWordName" class="form-control" placeholder="Ключевое слово" value="@Context.Request.Query["KeyWordName"]" />
    </div>
    <!--#FIXME: тут я беру Number, подразумевая Explanation.Number, раньше брал только из одного места, теперь озадачен поймет ли тут все прога -->
    <div class="col-md-2">
        <input name="ExplanationNumber" class="form-control" placeholder="№ разъяснения" value="@Context.Request.Query["ExplanationNumber"]" />
    </div>
    <!--#FIXME: тут я беру Data, подразумевая Explanation.Data, раньше брал только из одного места, теперь озадачен поймет ли тут все прога -->
    <div class="col-md-2">
        <input name="ExplanationData" class="form-control" placeholder="Дата разъяснения" value="@Context.Request.Query["ExplanationData"]" />
    </div>
    <!--#FIXME: тут я беру Name, подразумевая Organization.Name, раньше брал только из одного места, теперь озадачен поймет ли тут все прога -->
    <div class="col-md-2">
        <input name="OrganizationName" class="form-control" placeholder="Кто утвердил" value="@Context.Request.Query["OrganizationName"]" />
    </div>
    <!--#FIXME: тут я беру из Explanation -->
    <div class="col-md-2">
        <input name="IsAgreedGenProk" class="form-control" placeholder="Согласовано с ГП" value="@Context.Request.Query["IsAgreedGenProk"]" />
    </div>

    <div class="col-md-2">
        <input name="ApproveLevel" class="form-control" placeholder="Уровень (фед/мес)" value="@Context.Request.Query["ApproveLevel"]" />
    </div>

    <div class="col-md-2">
        <input name="IsRevelant" class="form-control" placeholder="Актуальность" value="@Context.Request.Query["IsRevelant"]" />
    </div>
    <!--#FIXME: тут я беру из RegionDivision -->
    <div class="col-md-2">
        <input name="RegionsDivisionName" class="form-control" placeholder="Регион" value="@Context.Request.Query["RegionsDivisionName"]" />
    </div>
    <!--#FIXME: тут я беру из Explanation -->
    <div class="col-md-2">
        <input name="Comment" class="form-control" placeholder="Примечание" value="@Context.Request.Query["Comment"]" />
    </div>
    <!--#FIXME: тут я беру из Explanation -->
    <div class="col-md-2">
        <input name="IsFavorites" class="form-control" placeholder="Избранное" value="@Context.Request.Query["IsFavorites"]" />
    </div>
   
</form>

<div class="table-responsive">
<table class="table table-striped table-bordered">
    <thead class="thead-dark">
        <tr>
            <th>Инвернатрынй №</th>
            <th>Тип формы</th>
            <th>Реквизит</th>
            <th>Код</th>
            <th>Справочник</th> 
            <th>Ключевые слова</th> 
            <th>№ разъяснения</th>
            <th>Дата разъяснения</th>
            <th>Организация</th>
            <th>Согласовано с ГП</th>
            <th>Уровень (фед/мес)</th>
            <th>Актуальность</th>
            <th>Регион (подразделение)</th>
            <th>Примечание</th>
            <th>Избранное</th>
            <th>Скачать файл</th>
            <th>Действия</th>

        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <th>@Html.DisplayNameFor(model => model.InventoryNumber)</th>
                <th>@Html.DisplayNameFor(model => model.FormType.Name)</th>
                <th>@Html.DisplayNameFor(model => model.RequisiteNumber)</th>
                <th>@Html.DisplayNameFor(model => model.Code)</th>
                <th>@Html.DisplayNameFor(model => model.ReferenceBook)</th>  <!--#FIXME: почему тут ругается на ReferenceBook.Name -->
                <!--#FIXME: Попытка несколько KeyWords??? -->
                <td> 
                        @if (item.KeyWords != null && item.KeyWords.Any())
                        {
                            @string.Join(", ", item.KeyWords.Select(k => k.Name))
                        }
                    </td> 
                <th>@Html.DisplayNameFor(model => model.Explanation.Number)</th>
                <th>@Html.DisplayNameFor(model => model.Explanation.Data)</th>
                <th>@Html.DisplayNameFor(model => model.Explanation.Organization)</th>
                <th>@Html.DisplayNameFor(model => model.Explanation.IsAgreedGenProk)</th>
                <th>@Html.DisplayNameFor(model => model.Explanation.ApproveLevel)</th>
                <th>@Html.DisplayNameFor(model => model.Explanation.IsRevelant)</th>
                <th>@Html.DisplayNameFor(model => model.RegionsDivision)</th>
                <th>@Html.DisplayNameFor(model => model.Explanation.Comment)</th>
                <th>@Html.DisplayNameFor(model => model.Explanation.IsFavorites)</th>
                <th>@Html.DisplayNameFor(model => model.FileLink)</th>

                <td>
                    <a asp-action="Edit" asp-route-id="@item.FormType.Name" class="btn btn-sm btn-warning">Редактировать</a>
                    <a asp-action="Details" asp-route-id="@item.FormType.Name" class="btn btn-sm btn-info">Просмотр</a>
                    <a asp-action="Delete" asp-route-id="@item.FormType.Name" class="btn btn-sm btn-danger">Удалить</a>
                </td>
            </tr>

                <!--#FIXME: Добавить кнопку экспорт в Excel -->
                <!--#FIXME: Добавить кнопку экспорт в Pdf -->
        }
    </tbody>
</table>
</div>