<search>

    <!-- Реализация формы для поиска/фильтрации -->
    <form asp-action="Index" asp-controller="Form" method="get" class="row g-3 mb-4">
        <div class="d-flex justify-content-between mb-3">
            <!-- Левая группа из 2 кнопок -->
            <div class="d-flex">
                <button type="submit" class="btn btn-secondary me-2">Поиск</button>
                <a asp-action="Index" class="btn btn-secondary">Сбросить</a>
            </div>

            <!-- Правая группа из 2 кнопок -->
            <div class="d-flex">
                <a asp-controller="Form" asp-action="Create" class="btn btn-dark me-2">Создать новую</a>
                <a asp-controller="Home" asp-action="Index" class="btn btn-secondary">На главную</a>
            </div>
        </div>

        <div class="col-md-2">
            <input name="NameFormType" class="form-control" placeholder="Название формы" value="@Context.Request.Query["NameFormType"]" />
        </div>

        <div class="col-md-2">
            <input name="RequisiteNumber" class="form-control" placeholder="Реквизит" value="@Context.Request.Query["RequisiteNumber"]" />
        </div>

        <div class="col-md-2">
            <input name="Code" class="form-control" placeholder="Код" value="@Context.Request.Query["Code"]" />
        </div>

        <div class="col-md-2">
            <input name="ReferenceBookName" class="form-control" placeholder="Справочник" value="@Context.Request.Query["ReferenceBookName"]" />
        </div>

        <div class="col-md-2">
            <input name="KeyWordName" class="form-control" placeholder="Ключевое слово" value="@Context.Request.Query["KeyWordName"]" />
        </div>

        <div class="col-md-2">
            <input name="ExplanationNumber" class="form-control" placeholder="№ разъяснения" value="@Context.Request.Query["ExplanationNumber"]" />
        </div>

        <div class="col-md-2">
            <input name="ExplanationDate" class="form-control" placeholder="Дата разъяснения" value="@Context.Request.Query["ExplanationDate"]" />
        </div>

        <div class="col-md-2">
            <input name="OrganizationName" class="form-control" placeholder="Кто разъяснил" value="@Context.Request.Query["OrganizationName"]" />
        </div>
        
        <div class="col-md-2">
            <input name="RegionsDivisionName" class="form-control" placeholder="Кому разъяснено" value="@Context.Request.Query["RegionsDivisionName"]" />
        </div>

        <div class="col-md-2">
            <input name="Event" class="form-control" placeholder="Площадка для вопроса" value="@Context.Request.Query["Event"]" />
        </div>

        <div class="col-md-2">
            <input name="Comment" class="form-control" placeholder="Примечание" value="@Context.Request.Query["ExplanationComment"]" />
        </div>


        <!-- Выбор для enum ApproveLevel -->
        <div class="col-md-2">
            <select name="ApproveLevel" class="form-control">
                <option value="">Выбери уровень</option>
                <option value="0" selected="@(Context.Request.Query["ApproveLevel"] == "0")">Федеральный</option>
                <option value="1" selected="@(Context.Request.Query["ApproveLevel"] == "1")">Местный</option>
            </select>
        </div>

        <!-- Чекбокс для IsAgreedGenProk -->
        <div class="col-md-2">
            <div class="form-check form-switch d-flex align-items-center">
                <input type="checkbox"
                       name="IsAgreedGenProk"
                       class="form-check-input"
                       id="IsAgreedGenProkCheckbox"
                       value="true"
                @(Context.Request.Query["IsAgreedGenProk"] == "true" ? "checked" : "") />
                <label class="form-check-label ms-2" for="IsAgreedGenProkCheckbox">Согласовано с ГП</label>
            </div>
        </div>

        <!-- Чекбокс для IsRevelant -->
        <div class="col-md-2">
            <div class="form-check form-switch d-flex align-items-center">
                <input type="checkbox"
                       name="IsRevelant"
                       class="form-check-input"
                       id="IsRevelantCheckbox"
                       value="true"
                @(Context.Request.Query["IsRevelant"] == "true" ? "checked" : "") />
                <label class="form-check-label ms-2" for="IsRevelantCheckbox">Актуально</label>
            </div>
        </div>

        <!-- Чекбокс для IsFavorites -->
        <div class="col-md-2">
            <div class="form-check form-switch d-flex align-items-center">
                <input type="checkbox"
                       name="IsFavorites"
                       class="form-check-input"
                       id="IsFavoritesCheckbox"
                       value="true"
                @(Context.Request.Query["IsFavorites"] == "true" ? "checked" : "") />
                <label class="form-check-label ms-2" for="IsFavoritesCheckbox">Избранное</label>
            </div>
        </div>

        <!-- Чекбокс для IsQuestion -->
        <div class="col-md-2">
            <div class="form-check form-switch d-flex align-items-center">
                <input type="checkbox"
                       name="IsQuestion"
                       class="form-check-input"
                       id="IsQuestionCheckbox"
                       value="true"
                @(Context.Request.Query["IsQuestion"] == "true" ? "checked" : "") />
                <label class="form-check-label ms-2" for="IsQuestionCheckbox">Вопрос/Ответ</label>
            </div>
        </div>

    </form>
</search>